nav {
    padding-left: 2vh;
    color: white;
}

section#intro {
    padding: 5vh 2vh;
    background-color: #ddd;
    display: flex;
    justify-content:space-between;
}

h2, h4 {
    font-weight: 600;
}

figure {
    margin-right: 5vh;
}

img {
    width: 20vh;
    height: 20vh;
    border-radius: 999vh !important;
}